.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  // .paging__arrow
  &__arrow {
    cursor: pointer;
    user-select: none;
    @include anim_defoult;
    &:hover {
      color: $secondary-color;
    }
    // .paging-arrow__prev
    &--prev {
    }
    // .paging-arrow__next
    &--next {
    }
  }
  // .paging__item
  &__item {
    margin: 0 10px;
    border-radius: 8px;
    background-color: $default-color;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    @include anim_defoult;
    // .paging__item--current

    &:hover {
      background-color: $secondary-color;
      color: $default-color;
    }
    &--current {
      background-color: $dark-main-color;
      color: $default-color;
      &:hover {
        background-color: $dark-main-color;
        color: $default-color;
      }
    }
  }
}
